@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	margin:0;
	padding:0;
	font-family:'Ubuntu',sans-serif;
	
}

/* For sticky navbar */
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.affix + .container-fluid {
    padding-top: 70px;
}

/* when link is activated */
a:active{
	color:white;
}

/* css on navbar */
.navbar{
	position:relative;
	background:rgba(0,0,0,0.6);;
	padding:10px;
	height : 100px;
}
.logo{
	position:absolute;
	left : 30px;
}
.navbarNav{
	position:absolute;
	top : 5px;
	right : 20px;
}
label{
    cursor: pointer;
    transform: 1s;
    font-family: 'Suez One', serif;
	position:absolute;
	top : 16px;
	left : 150px;
	font-size:30px;
	padding:10px;
	border : 3px solid #1abc9c;
	border-radius:10px;
	color:white;
}
label:hover{
    background-color: #ffd32a;
    color:black;
    transition-duration: 0.5s;

}
nav{
	position:relative;
	margin:25px auto 0;
	width : 500px;
	height : 50px;
	background: #34495e;
	border-radius : 10px;
	font-size:0;
	box-shadow:0 2px 3px 0 rgba(0,0,0,0.1);
}
nav a{
	font-size:15px;
	text-transform:uppercase;
	color:#ffffff;
	text-decoration:none;
	line-height:50px;
	position:relative;
	z-index:1;
	display:inline-block;
	text-align:center;
}
nav .animation{
	position:absolute;
	height:100%;
	top:0;
	z-index:0;
	background:#1abc9c;
	border-radius:10px;
	transition : all 0.5s ease 0s;
}
a:nth-child(1){
	width:100px;
}
nav .start-home,a:nth-child(1):hover~.animation{
	width:100px;
	left:0;
}
a:nth-child(2){
	width:100px;
}
nav .start-about,a:nth-child(2):hover~.animation{
	width:100px;
	left:100px;
}
a:nth-child(3){
	width:100px;
}
nav .start-donate,a:nth-child(3):hover~.animation{
	width:100px;
	left:200px;
}
a:nth-child(4){
	width:100px;
}
nav .start-contact,a:nth-child(4):hover~.animation{
	width:100px;
	left:300px;
}
a:nth-child(5){
	width:100px;
}
nav .start-help,a:nth-child(5):hover~.animation{
	width:100px;
	left:400px;
}


h1:hover{
	background-color: #ffd32a;
    color:black;
    transition-duration: 0.5s;
}

/* css on heading part */
#heading{
	cursor:pointer;
	text-align:center;
	border : 2px solid red;
	border-radius:20px;	
}
.home{
	position:relative;
	height : 90vh;
	background-image:url(img/home.jpg);
	background-repeat:none;
	background-size:100% 100%;
	background-attachment:fixed;
}
.home h3{
	position:absolute;
	top:100px;
	left : 500px;
	right : 400px;
	margin:10px;
	padding:10px;
	text-align:center;
}

/* css on aboutme paragraph */
#aboutme{
	position:absolute;
	top:100px;
	left : 800px;
	right : 300px;
	margin:10px;
	padding:10px;
	text-align:center;
}
.about{
	position:relative;
	height : 90vh;
	background-image:url(img/aboutus.jpg);
	background-repeat:none;
	background-size:100% 100%;
	background-attachment:fixed;
}

/* css effect on donate section */
#donatenow{
	position:absolute;
	top:10px;
	left : 800px;
	right : 300px;
	margin:10px;
	padding:10px;
	text-align:center;
}
.donatebutton{
	position:absolute;
	bottom : 100px;
	right : 400px;
	font-size:20px;
	padding:10px;
	margin:10px;
	background-color: #5efa03;
	border:2px solid red;
	border-radius:20px;
	width : 180px;
	height:50px;
	text-align:center;
}
.donatebutton:hover{
	color:red;
	box-shadow:0 0 10px #00ff00,
	           0 0 20px #00ff00;
}
.donate{
	position:relative;
	height : 90vh;
	background-image:url(img/donate.jpg);
	background-repeat:none;
	background-size:100% 100%;
	background-attachment:fixed;
}

/* css effect on help section */
.help{
	position:relative;
	height : 90vh;
	background-image:url(img/help.jpg);
	background-repeat:none;
	background-size:100% 100%;
	background-attachment:fixed;
}
.query{
	position:absolute;
	top : 60px;
	left:20px;
	color:black;
	font-size:50px;
	
}
.form{
	position:absolute;
	top:130px;
	left :20px;
}
.message{
	width : 200px;
	height:60px;
	padding:10px;
	position:absolute;
	top:530px;
	left:300px;
	font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
	border:2px solid red;
	border-radius:20px;
	background-color:#5efa03;
}
.message:hover{
	color:red;
	box-shadow:0 0 10px #00ff00,
	           0 0 20px #00ff00;
}
#name{
	position:absolute;
	top:25px;
	left : 100px;
	right : 20px;
	margin:2px;
	padding:1px;
}
#email{
	position:absolute;
	top:105px;
	left : 100px;
	right : 20px;
	margin:2px;
	padding:1px;
}
#subject{
	position:absolute;
	top:188px;
	left : 268px;
	right : 20px;
	margin:2px;
	padding:1px;
}
#query{
	position:absolute;
	top:268px;
	left : 248px;
	right : 20px;
	margin:2px;
	padding:1px;
}
input{
	width:500px;
}
textarea{
	width:500px;
	height:100px;
}

/* css effect on contactus section */
.contact{
	position:relative;
	height : 90vh;
	background-image:url(img/contactus.jpg);
	background-repeat:none;
	background-size:100% 100%;
	background-attachment:fixed;
}
ul{
	position : absolute;
    font-size:30px;
	top:180px;
	right:500px;
	list-style:none;
}
#social{
	position:absolute;
	top:60px;
	right:360px;
	font-size:50px;
	color:white;
}

/* css effect on footer part */
#container #header{
	padding:10px;
    font-size:20px;
    color: red;
    text-align: center;
    height: 50px;
    margin-bottom: 35px;
}